@{
    <!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>

        <style>
            #AgeCheck {
                text-align: center;
                background-color: #fff;
                border-radius: 0px;
                color: #333;
                display: auto;
                padding: 20px;
                width: 500px;
                height: 300px;
			
            }
            #AgeCheck .title {
                font-family: "BrandonTextWeb-Black",Verdana,Arial,Helvetica,sans-serif;
                text-transform: uppercase;
                font-size: 26px;
                box-sizing: border-box;
                font-size: 26px;
                padding-bottom: 11px;
                color: #3C2620;
            }

            #AgeCheck .image {
                margin-top: 15px;
                max-width: 65%;
            }

            #AgeCheck .text {
                margin-top: 30px;
                margin-bottom: 30px;
                color: #A5A3A3;
            }

            #YesNo18 {
                text-align: center;
                margin-top: 15px;
            }
        </style>

    <style media="all and (max-width: 660px)">

            #AgeCheck .title {
                font-size: 18px !important;
            }

            #AgeCheck .image {
                margin-top: 5px;
                max-width: 50%;
            }

            #AgeCheck .text {
                margin-top: 5px;
                font-size: 11px !important;
            }
        </style>

        <style media="all and (max-width: 360px)">
            #AgeCheck {
                width: 360px !important;
            }

            #AgeCheck .image {
                margin-top: 20px;
                max-width: 50%;
            }
        </style>

        <style media="all and (max-width: 720px)">

            #AgeCheck .title {
                font-size: 18px !important;
            }

            #AgeCheck .image {
                max-width: 50%;
            }
        </style>

       
		
		<style media="all and (max-width: 900px)">
            #AgeCheck {
                width: 400px;
            }

            #AgeCheck .image {
                margin-top: 10px;
                max-width: 50%;
            }
        </style>
        
    </head>
    <body>
            <div id="AgeCheck">
            <div style="font-family: arial, helvetica, sans-serif; ">

                <img class="image" src="/Themes/themeName/Content/images/logo.png" />

                <div class="title" style="color:darkgreen">
                    Are you over the age of 18?
                </div>

                <div id="YesNo18">
                    <img src="/Themes/themeName/Content/images/age_yesno.png" alt="" usemap="#headmap" style="height: 31px" /> @*resize yesno image button*@
                    <map name="headmap">
                        <area id="age-yes" coords="0,0, 60, 31" shape="rect" href="javascript:click()" alt="yes" /> @*adjust coordinates of yesno prev 0,0 124,61 168,0, 291,61*@
                        <area id="age-no" coords="85,0, 146, 31" shape="rect" href="http://www.alcohol.org.nz/" alt="no" />
                    </map>
                </div>
            </div>
            </div>
    </body>
        <script type="text/javascript">
			var w = window.innerWidth;
            var h = window.innerHeight;		
			
			function setCookie(cname, cvalue, exdays) {
				const d = new Date();
				d.setTime(d.getTime() + (exdays*24*60*60*1000));
				let expires = "expires="+ d.toUTCString();
				document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
			}
		
            function agePopup() {
                $('#AgeCheck').bPopup(
                    {
                        easing: 'easeOutBack', //uses jQuery easing plugin
                        speed: 500,
                        modal: true,
                        escClose: false,
                        modalClose: false,
                        transition: 'slideDown',                       
                    });

                $('#age-yes').click(function () {
					setCookie('verified','yes',1);
                    $('#AgeCheck').bPopup().close();

                });
            }
            window.onload = agePopup;

        </script> 
   
}
